// Navigation Styles here



.topHeader {
    .border(#B9B8BF);

    .headerText {
        .flex(space-between, center);
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: @comfortHght;
    }



    nav {
        width: 25%;
    
        ul {
            .flex(space-between, center);  
        }
    } 
}



    